a,
a:active,
a:hover,
select:focus,
input:focus,
textarea:focus,
button:focus,
button:active {
  outline: none !important;
}
a {
  cursor: pointer !important;
}

html, body {
    height:100%;
    width:100%;
    background-color:#23384E;
}

#view
{
    margin-right:auto;
    margin-left:auto;
}

.container {
    height: auto;
    min-height:100%;
    padding: 30px; 
    background-color: #fff;
    display: block;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.jumbotron p {
    font-size: 0.9em;
}

.radio, .checkbox {
    margin-top: 5px;
    margin-bottom: 5px;
}

    .radio + .radio, .checkbox + .checkbox {
        margin-top:5px;
    }

.risk {
    display: inline;
    vertical-align:top;
    margin-right:5px;
}

    .risk input {
        margin-right: 4px;
    }

#answers {
    position:absolute;
    top:0;
    right:0;
    width:300px;
}

form {
    margin-top: 30px;
}

h5 {
    font-weight: bold;
    margin-bottom: 15px;
}

.badge {
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    float:left;
    text-align:center;
    margin-right:10px;

    width:35px;
    height:35px;
    line-height:30px;
    font-size:20px;
}

.well {
    padding:10px;
    margin:10px 0 10px 0;
}

.well.high {
    background-color:rgba(224, 131, 129, 0.3);
    box-shadow: inset 0 0 5px #b94a48;
}

.well.low {
    opacity:0.6;
}

.well.high .badge {
  background-color: #b94a48;
}
.well.medium .badge {
  background-color: #f89406;
}
.well.low .badge {
  background-color: #468847;
}

.comment {
    text-align: center;
    margin-top:30px;
}

    .comment textarea {
        width:300px;
        height:150px;
        margin: 20px 0;
    }

.debug {
    margin-top: 20px;
    padding:5px;
    background-color: #eee;
}